{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal').modal();
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <h4 class="center-align">My Clubs</h4>
        <table class="highlight">
            <thead>
            <tr>
                <th>Club Name</th>
                <th>Day</th>
                <th>Students Enrolled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <!-- basically, if they have clubs, load them -->
            {% if clubs|length != 0: %}
            {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.day }}</td>
                <td>{{ club.enrollment_count }}</td>
                <td><a class="modal-trigger" href="#modal{{ club.id }}"><i class="material-icons">info_outline</i></a>
                    <a href="{{ url_for('mclub_teacher.edit', id=club.id) }}"><i class="material-icons"
                                                                                 style="cursor:pointer">mode_edit</i></a>
                    <a href="{{ url_for('mclub_teacher.rosters', id=club.id) }}"><i
                            class="material-icons">person_add</i></a>
                    <a href="{{ url_for('mclub_teacher.delete', id=club.id) }}"><i class="material-icons">delete</i></a>
                </td>
            </tr>

            <div id="modal{{ club.id }}" class="modal">
                <div class="modal-content">
                    <h4>{{ club.name }}</h4>
                    <p>{{club.day}}s in Room {{club.room_nbr}}</p>
                    <p>{{ club.description }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <!-- pls don't kill me for inline styling -->
        {% if clubs|length == 0: %}
        <p style="text-align:center; padding-top:15px;">Click the button below to add a club.</p>
        {% endif %}

        <!-- i forgot how to do styling please don't kill me!!!!! also i might change to a floating circular one-->
        <div class="center-align">
            <a class="waves-effect waves-light btn-large light-blue accent-2" style="margin-top: 20px"
               href="{{ url_for('mclub_teacher.add')}}">Add Club</a>
        </div>

        <div>
            <ul class="collapsible" data-collapse="accordion" style="margin-top:20px;">
                <li>
                    <div class="collapsible-header active">
                        <i class="material-icons">error_outline</i>Instructions for Use
                    </div>
                    <div class="collapsible-body">You can use this app to add and manage clubs that you supervise.
                        <strong>If you are adding a club, please make sure it meets the requirements listed
                            below.</strong>
                        <br>Click on the pencil icon to edit a club, the person icon to manage students that are
                        enrolled
                        in your club, or the "add club" button to make a new club.
                        <br>If you have questions about clubs, please contact Stephen Kaplan at stekap@bergen.org. For
                        questions
                        about the website, please contact Bryan Respass at bryres@bergen.org.
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">brightness_low</i>Morning Clubs
                        Requirements
                    </div>
                    <div class="collapsible-body">For morning clubs, you must have a student leader and at least
                        3 students who are committed to participating. Please try to combine morning clubs if you
                        have similar missions.
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">grade</i>Wednesday Clubs Requirements
                    </div>
                    <div class="collapsible-body">For Wednesday clubs, as a teacher, you must have your club
                        approved by Mr. Kaplan. Students can try to start new clubs but you must make it on
                        their behalf.
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

