{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    // <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
{% endblock %}

{% block content %}

    <div class="container">

    <h4 class="center-align">My Clubs</h4>

    <table class="highlight">
        <thead>
          <tr>
              <th>Club Name</th>
              <th>Day</th>
              <th>Students Enrolled</th>
              <th>Actions</th>
          </tr>
        </thead>

        <!-- hardcoding for now, will eventually pull from database -->
        <tbody>
            <tr>
                <td>Club #1</td>
                <td>Monday</td>
                <td>5</td>
                <td><a href=""><i class="material-icons" style="cursor:pointer">mode_edit</i></a>
                <a href=""> <i class="material-icons" >person_add</i></a></td>
            </tr>
            <tr>
                <td>Club #2</td>
                <td>Tuesday</td>
                <td>12</td>
                <td><a href=""><i class="material-icons" style="cursor:pointer">mode_edit</i></a>
                <a href=""> <i class="material-icons" >person_add</i></a></td>
            </tr>
        </tbody>
    </table>

    <h4 class="center-align">Proposed Clubs</h4>

    <table class="highlight">
        <thead>
          <tr>
              <th>Club Name</th>
              <th>Student</th>
              <th>Date Proposed</th>
              <th>Actions</th>
          </tr>
        </thead>

        <!-- again, hardcoding for now, but we will eventually pull from database -->
        <tbody>
            <tr>
                <td>Club #1</td>
                <td>Kate Kim</td>
                <td>September 6, 2019</td>
                <td><a href=""><i class="material-icons" style="cursor:pointer">info_outline</i></a>
                <a href=""> <i class="material-icons" >check</i></a>
                <a href=""> <i class="material-icons" >clear</i></a></td>
            </tr>
            <tr>
                <td>Club #2</td>
                <td>Daniella Calle</td>
                <td>September 20, 2019</td>
                <td><a href=""><i class="material-icons" style="cursor:pointer">info_outline</i></a>
                <a href=""> <i class="material-icons" >check</i></a>
                <a href=""> <i class="material-icons" >clear</i></a></td>
            </tr>
        </tbody>
    </table>

    <!-- probs will remove soon  -->


</div>

{% endblock %}