{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container">

    <h4 class="center-align">My Clubs</h4>

    <table class="highlight">
        <thead>
          <tr>
              <th>Club Name</th>
              <th>Day</th>
              <th>Students Enrolled</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.day }}</td>
                <td>{{ club.enrollment_count }}</td>

<!--                this should basically call the edit function in views, i think?? -->
                <td><a class="modal-trigger" href="#modal{{ club.id }}"><i class="material-icons" style="cursor:pointer">info_outline</i></a>
                    <a href="{{ url_for('mclub_teacher.edit', id=club.id) }}"><i class="material-icons" style="cursor:pointer">mode_edit</i></a>
                <a href=""> <i class="material-icons" >person_add</i></a></td>
            </tr>

            <div id="modal{{ club.id }}" class="modal">
                <div class="modal-content">
                    <h4>{{ club.name }}</h4>
                    <p>{{ club.description }}</p>
                    <p>{{ "should also include the student leader and other relevant info" }}</p>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="center-align">Proposed Clubs</h4>

    <table class="highlight">
        <thead>
          <tr>
              <th>Club Name</th>
              <th>Student</th>
              <th>Date Proposed</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
            {% for p in proposals %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ "this isn't quite figured out yet" }}</td>
                <td>{{ p.date  }}</td> <!-- this will need some Figuring Out in terms of formatting -->
                <td><a class="modal-trigger" href="#modal0{{ p.id }}"><i class="material-icons" style="cursor:pointer">info_outline</i></a>
                <a href=""> <i class="material-icons" >person_add</i></a></td>
            </tr>

<!--             I DISCOVERED SOMETHING so i had to put a 0 in the #modal for proposals-->
<!--             because if not then it would refer to the clubs modal since they same the same id -->
<!--             so we'll have to make sure that there are either UNIQUE ID'S or keep the dummy number there-->

            <div id="modal0{{ p.id }}" class="modal">
                <div class="modal-content">
                    <h4>{{ p.name }}</h4>
                    <p>{{ p.description }}</p>
                    <p>{{ "should also include the student who proposed it and other stuff" }}</p>
                </div>
            </div>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}

