{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertifyjs/css/alertify.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertifyjs/css/themes/default.css') }}"/>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
        $(document).ready(function(){
            $('#dropdown').dropdown();
            $("input.search").focus();
            $('select').material_select();
        });

        function submit_form() {
            let club_name = $('input[name="club_name').val();
            let room_nbr = $('input[name="club_room_nbr').val();
            let desc = $('textarea[name="club_desc').val();
            let max_nbr = $('input[name="club_max_nbr').val();

            if (!club_name || !room_nbr || !desc || !max_nbr)
                Materialize.toast('Please Fill Out All Fields Before Submitting', 3000);
            else
                $('#edit_club').submit();
        }

</script>

<script type="text/javascript" src="{{ url_for('static', filename='alertifyjs/alertify.min.js') }}"></script>

{% endblock %}

{% block content %}
<form id="edit_club" method="post">
    <div id="box" class="container">
        <!--        <div class="ui dropdown search selection" id = "dropdown">-->
        <!--            <input type="hidden" name="person">-->
        <!--            <i class="dropdown icon"></i>-->
        <!--            <div class="menu transition hidden">-->
        <!--                <div class = "item" data-value = "">Hello</div>-->
        <!--                <div class="item" data-value="">Maybe this</div>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="row">
            <div class="col s12 center-align">
                <h3 class="title">Student Roster</h3>
            </div>
        </div>

        <table class="highlight">
            <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Academy</th>
                <th>Actions</th>
            </tr>
            </thead>

            {% if students|length != 0: %}
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td>{{student.class_year}}</td>
                <td>{{student.academy_cde}}</td>
                <td><a href="{{ url_for('mclub_teacher.remove', id=club.id, student_id=student.usr_id) }}"><i
                        class="material-icons">delete</i></a></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% if students|length==0: %}
        <p style="text-align:center; padding-top:2%;">No students have enrolled yet.</p>
        {% endif %}

        <div class="center-align">
            <a class="waves-effect waves-light btn light-blue accent-2" style="margin-top:20px"
               href="{{ url_for('mclub_teacher.index')}}">Back</a>
        </div>
    </div>
</form>

{% endblock %}
