{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/student/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/teacher/create/main.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal').modal();
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="center-align">

        {% if True %}
            <h1 class="center-align black-text title">Club Enrollment for Trimester {{ enroll_info.tri_nbr }}</h1>
            <h6 class="center-align black-text close">Club registration closes on {{ enroll_info.end_time }}</h6>
        {% else %}
            <h1 class="center-align black-text title">Club registration opens on {{ enroll_info.start_time }}</h1>
        {% endif %}

        <!--
        Implement this in the future
        <a class="btn green-ligthen 2">Propose a new club</a>
        <br></br>
        -->
    </div>

    <div class="main container white z-depth-2 {%  if enrolled_clubs|length == 0 %} hide {% endif %}" style="padding-right: 25px; padding-left: 25px;">
        <div class="row head">
            <div id="project_current">
                <div class="row">
                    <div class="col s6 ">
                        <h3 style="margin-top: 17px;">My Wednesday Club</h3>
                    </div>
                </div>

                <table class="highlight centered">
                    <thead>
                        <tr>
                            <th><strong>Name</strong></th>
                            <th><strong>Advisor</strong></th>
                            <th><strong>Room</strong></th>
                            <th><strong>Enrolled/Max</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for club in enrolled_clubs %}
                        <tr id="{{club.id}}" style="font-weight: 300;">
                            <td>{{ club.name }}</td>
                            <td>{{ teachers_e[loop.index-1][0] + " " + teachers_e[loop.index-1][1] }}</td>
                            <td>{{ club.room_nbr }}</td>
                            <td>{{ club.enrollment_count }}/{{ club.max_nbr }}</td>
                            <td><a class="enroll btn red lighten-2" href="{{ url_for('mclub_student.drop', club_id=club.id)}}">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <div id="club_list_container" class="main container white z-depth-2" style="padding-right: 25px; padding-left: 25px;">
        <div>
            <br>
            <h3 class="center-align">Available Wednesday Clubs</h3>
        </div>


        <table class="highlight centered">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Advisor</strong></th>
                    <th><strong>Room</strong></th>
                    <th><strong>Enrolled/Max</strong></th>
                </tr>
            </thead>


            <tbody>
                {% for club in wednesday_clubs %}
                        <tr id="{{club.id}}" style="font-weight: 300;">
                            <td>{{ club.name }}</td>
                            <td>{{ teachers_w[loop.index-1][0] + " " + teachers_w[loop.index-1][1] }}</td>
                            <td>{{ club.room_nbr }}</td>
                            <td>{{ club.enrollment_count }}/{{ club.max_nbr }}</td>
                            <td><a class="modal-trigger" href="#modal{{ club.id }}"><i class="material-icons" style="cursor:pointer">info_outline</i></a></td>
                            {% if club.enrollment_count >= club.max_nbr or enrolled_clubs|length != 0 %}
                                <td><a class="enroll btn green" disabled>Enroll</a></td>
                            {% else %}
                                <td><a class="enroll btn green" href="{{ url_for('mclub_student.enroll', club_id=club.id) }}">Enroll</a></td>
                            {% endif %}
                        </tr>

                        <div id="modal{{ club.id }}" class="modal">
                            <div class="modal-content">
                                <h2>{{ club.name }}</h2>
                                <p style="font-size: 18px">{{ club.desc }}</p>
                            </div>
                        </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <div id="morning_club_list_container" class="main container white z-depth-2" style="padding-right: 25px; padding-left: 25px; min-height: 100%;">

        <div>
            <br>
            <h3 class="center-align">Available Morning Clubs</h3>
        </div>


        <table class="highlight centered">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Advisor</strong></th>
                    <th><strong>Times</strong></th>
                    <th><strong>Room</strong></th>
                </tr>
            </thead>

            <tbody>
                {% for club in morning_clubs %}
                    <tr>
                            <td>{{ club.name }}</td>
                            <td>{{ teachers_m[loop.index-1][0] + " " + teachers_m[loop.index-1][1] }}</td>
                            <td>{{ club.day }}</td>
                            <td>{{ club.room_nbr }}</td>
                            <td><a class="modal-trigger" href="#modal{{ club.id }}"><i class="material-icons" style="cursor:pointer">info_outline</i></a></td>
                    </tr>

                    <div id="modal{{ club.id }}" class="modal">
                        <div class="modal-content">
                            <h2>{{ club.name }}</h2>
                            <p style="font-size: 18px">{{ club.desc }}</p>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

{% endblock %}

