{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
{% endblock %}

{% block content %}
<div class="container" style="text-align:center; width:90%; margin: 0 25px;">
    <h3>Signup Dates</h3>
</div>

<table class="highlight" style="text-align: center; width: 80%;  margin-left: auto; margin-right: auto;">
    <thead>
    <tr>
        <th>Grade Level</th>
        <th>Course Year</th>
        <th>Trimester</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>

    <tbody>
        {% for date in dates %}

            <tr>
                <input type="hidden" name="hdGrade[]" value="{{ date.grade_lvl }}">

                <td style="text-align: center">{{ date.grade_lvl }}</td>
                <td class="small_column">
                    <div class="input-field col s6">
                        <input type="text" class="course_year" name="course_year[]" value="{{ date.course_year }}">
                    </div>
                </td>
                <td class="small_column">
                    <div class="input-field col s6">
                        <input type="text" class="tri_nbr" name="tri_nbr[]" value="{{ date.tri_nbr }}">
                    </div>
                </td>
                <td class="small_column">
                    <div class="input-field col s6">
                        <input type="text" class="start_date" name="start_date[]" value="{{ date.start }}">
                    </div>
                </td>
                <td class="small_column">
                    <div class="input-field col s6">
                        <input type="text" class="end_date" name="end_date[]" value="{{ date.end }}">
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row" style="text-align:center; margin-bottom: 50px;">
    <a style="cursor: pointer; text-decoration: none;" class="waves-effect waves-light btn" type="submit"  href="{{ url_for('mclub_admin.update_dates') }}">
        Submit
    </a>

    <a id="return_home" style="cursor: pointer; text-decoration: none;" class="waves-effect waves-light btn" type="submit" name="choice" value="Back" href="{{ url_for('mclub_admin.index') }}">
        Cancel
    </a>
</div>



{% endblock %}

